*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
 
}

body{
  width: 100%;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: block;
    background: white;
    box-shadow: 0 2px 5px 0 #888888;
  

}

@media screen and (max-width: 500px) {
  header .nav-list a{
    float: none;
    display: block;
  }

 
}

header .nav-list .menu .Search{
  background-color:bisque;
  height: 30px;
  width: 300px;
  border: 1px solid bisque;
  border-radius: 20px;
}
header .nav-list .menu img {
  height: 20px;
  width: 20px;
  /* padding-right: 10px; */
}


header .nav-list .cart img{
  float: right;
  width: 20px;
  height: 20px;
}

 .nav-list{
  list-style-type: none;
    margin: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255)fff;
    border-style: 1px solid black;
    display: block;
}

.nav-list a{
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.nav-list .menu{
  margin-top: 20px;
}

.nav-list .cart{
  float: right;
}

.nav-list p{
    color: black;
    /* margin-left: 60px; */
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.nav-list a:hover{
    border-bottom: 2px solid black;
}

header .nav-list .logo img{ 
  width: 80px;
  height: 70px;
  padding: 0;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}

    main .title-open{
        position: sticky;
    }

    main button{
        position: sticky;
    }

    .h_name .buy{
      position: sticky;
    }

    ul.topnav li .search{
      width: fit-content;
    }
  }


  main .open img{
    display: block;
    margin-top: 10px;
    margin-bottom:20px ;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 600px;
  }
 main .title-open h2{
    position: absolute;
    bottom: 200px;
    left: 100px;
    font-size: 50px;
    color: white;
  }

  main button{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(118, 173, 118);
    text-align: center;
    border-color: #6ab97e;
    position: relative;
    bottom: 150px;
    left: 100px;
  }

  main .promo{
    text-align: center;
    color: #6ab97e;
    margin-left: auto;
    margin-right: auto;
  }

  main .promo-slide{
   text-align: center;
  }

  main .promo-slide img{
    width: 50px;
    height: 50px;
    padding: 50px;
  }

  /* main .h_product .h_name img{
    width: 130px;
    height: 150px;
    padding: 20px;
   
  }
  main .h_product .h_name{
    background-color:rgb(247, 207, 162);
    width: 150px;
    height: 300px;
   margin-bottom: 20px;
  }

  main .h_product .desc{
    font-size: small;
    text-align: left;
  } */
  .highlight{
    text-align: center;
    color: #6ab97e;
  }
  
  main .h_product table{
    margin-left: auto;
    margin-right: auto;
  }

  main .h_product td{
    margin-left: 100px;
  }
  
  main .h_product .h_name{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    height: 350px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
   s
  }
  
  main .h_product img{
    width: 90%;
    height: 150px;
    margin: 10px 10px;
    }
  
  
  .h_name{
      height: 330px;
      width: 200px;
      text-align: center;
      background-color: bisque; 
      padding: 10px;
      border-radius: 15px;
      margin: 20px;
  }
  .h_name > .desc{
      font-size: smaller;
      text-align: left;
      padding-left: 10px;
      
  }
  
  .h_name > .desc > h2{
      margin: 0;
      font-size: 15px;
      padding: 0;
      
  }
  .h_name > .desc > p{
      margin: 0;
      font-size: 7px;
      padding: 0;
  }
  .h_name > .desc > h3{
      margin: 0;
      font-size: 10px;
      padding: 0;
      
  }
  
  
  
  .h_name button{
    width: 40px;
    height: 40px;
  }
  
  main .h_name .keranjang {
    width: 20px;
    height: 20px;
  margin-right: auto;
  margin-left: auto;
   
  
  }
  
  .h_name .buy{
    position: relative;
    top: 10px;
    left: 70px;
  }

.brand > img {
  background-color: bisque;
  height: 80px;
  width: 80px;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.brand>h2{
  color: rgb(78, 172, 140);
  text-align: center;
}

.brand{
  text-align: center;
  border-radius: 20px;
}

footer{
  background-color: rgb(199, 114, 99);
  height: 300px;
  width: 100%;
}